apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: firefly

resources:
  - firefly-config-sealed.yaml
  - firefly-iii-chart-sealed-secret.yaml
  - bank-imports-sealed.yaml
  - firefly-db.yaml
  # - auto-import-job.yaml
  - ../../base

patches:
  - path: firefly-iii-chart-patch.yaml
  - path: importer-chart-patch.yaml
