apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - nextcloud-config-sc.yaml
  - nextcloud-config-sealed.yaml
  - nextcloud-data-pvc.yaml
  - syncthing-thomas-data-pvc.yaml
  - psql-pvc.yaml
  - ../../base
  - syncthing-thomas-app.yaml
  - nextcloud-ingress.yaml
  - sso-egress.yaml

patches:
  - patch: |-
      - op: add
        path: /spec/source/helm
        value:
          valuesObject:
          # Needed for bitnami legacy
            global:
              security:
                allowInsecureImages: true
            redis:
              image:
                repository: bitnamilegacy/redis
            ingress:
              enabled: false
              className: tailscale
            phpClientHttpsFix:
              enabled: true
              protocol: https
            nextcloud:
              host: nextcloud.tail9a43.ts.net
              existingSecret:
                enabled: true
                secretName: nextcloud-config
                usernameKey: username
                passwordKey: password
              configs:
                previews.config.php: |-
                  <?php
                  $CONFIG = array (
                    'enable_previews' => true,
                    'enabledPreviewProviders' => array (
                      'OC\Preview\Movie',
                      'OC\Preview\PNG',
                      'OC\Preview\JPEG',
                      'OC\Preview\GIF',
                      'OC\Preview\BMP',
                      'OC\Preview\XBitmap',
                      'OC\Preview\MP3',
                      'OC\Preview\MP4',
                      'OC\Preview\TXT',
                      'OC\Preview\MarkDown',
                      'OC\Preview\PDF'
                    ),
                  );
                openid.config.php: |-
                  <?php
                  $CONFIG = array (
                    'allow_local_remote_servers' => true,
                    'debug' => true,
                  );
              extraVolumes:
                - name: syncthing-thomas
                  persistentVolumeClaim:
                    claimName: syncthing-thomas-data
              extraVolumeMounts:
                - name: syncthing-thomas
                  mountPath: /mnt/syncthing-thomas
            internalDatabase:
              enabled: false
            externalDatabase:
              type: postgresql
              enabled: true
              existingSecret:
                enabled: true
                secretName: nextcloud-config
                username-key: psql-username
                password-key: psql-user-password
                hostKey: psql-host
                databaseKey: psql-database
            postgresql:
              enabled: true
              global:
                postgresql:
                  auth:
                    existingSecret: nextcloud-config
                    secretKeys:
                      adminPasswordKey: psql-admin-password
                      userPasswordKey: psql-user-password
                      replicationPasswordKey: psql-replication-password
              # Needed for bitnami changes
              image:
                repository: bitnamilegacy/postgresql
              # For upgrade to 17
              primary:
                persistence:
                  enabled: true
                  existingClaim: psql-pvc
                initContainers:
                  - name: upgrade
                    image: "pgautoupgrade/pgautoupgrade:17-alpine@sha256:e4fe789c2fed941f0570d826097ab6f7ced9804cfd91fa33c22908a4c806df55"
                    env:
                      - name: "PGAUTO_ONESHOT"
                        value: "yes"
                      - name: "POSTGRES_PASSWORD"
                        valueFrom:
                          secretKeyRef:
                            name: nextcloud-config
                            key: psql-admin-password
                    volumeMounts:
                      - mountPath: "/bitnami/postgresql"
                        name: "data"
            persistence:
              enabled: true
              storageClass: nextcloud-config
              size: 8Gi
              nextcloudData:
                enabled: true
                existingClaim: nextcloud-data
            collabora:
              enabled: false
              collabora:
                extra_params: "--o:ssl.enable=false --o:ssl.termination=false"
                aliasgroups:
                  - host: "https://nextcloud.tail9a43.net:443"
                existingSecret:
                  enabled: true
                  secretName: nextcloud-config
                  usernameKey: username
                  passwordKey: password
            cronjob:
              enabled: true
    target:
      group: argoproj.io
      version: v1alpha1
      kind: Application
      name: nextcloud-helm-chart
      namespace: nextcloud
  - patch: |-
      - op: add
        path: /spec/source/helm
        value:
          valuesObject:
            persistence:
              config:
                storageClass: syncthing-data
    target:
      group: argoproj.io
      version: v1alpha1
      kind: Application
      name: syncthing-helm-chart
      namespace: syncthing
