apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: immich
resources:
  - immich-db-sc.yaml
  - library-pvc.yaml
  # - cnpg-cluster.yaml
  - cnpg-cluster-new.yaml  # New cluster that bootstraps from immich-pg
  - ../../base
  - immich-ingress.yaml

patches:
  # - path: immich-pg-cluster-patch.yaml
  - path: immich-database-cluster-patch.yaml
  - path: immich-helm-chart-patch.yaml
  - path: immich-ingress-patch.yaml
