apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespaces.yaml
  - sealed-longhorn-garage-creds.yaml
  - sealed-tailscale-oauth.yaml
  - sealed-velero-creds.yaml
  - argocd-notifications-secret-sealed.yaml
  - sealed-newt-auth.yaml
  - ../../base

patchesStrategicMerge:
  - longhorn-patch.yaml
  - tailscale-operator-patch.yaml
  - argocd-patch.yaml
  - velero-patch.yaml
  - intel-device-plugins-operator-patch.yaml
  - newt-patch.yaml
