apiVersion: apps/v1
kind: Deployment
metadata:
  name: protonmail-bridge-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: protonmail-bridge
  template:
    metadata:
      labels:
        app: protonmail-bridge
    spec:
      volumes: 
        - name: protonmail-data
          persistentVolumeClaim: 
            claimName: protonmail-bridge-pvc
      containers:
      - name: protonmail-bridge-container
        volumeMounts:
          - mountPath: "/root/"
            name: protonmail-data
        image: shenxn/protonmail-bridge:latest@sha256:3717b4441130675dc9131196de9f9c5287d2ea21b138d83b0486429e1737638a
        ports:
          - containerPort: 25
            name: smtp
            protocol: TCP
          - containerPort: 143
            name: imap
            protocol: TCP
        livenessProbe:
          tcpSocket:
            port: 25
          initialDelaySeconds: 30
          periodSeconds: 30
        readinessProbe:
          tcpSocket:
            port: 25
          initialDelaySeconds: 15
          periodSeconds: 10
