apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ts-n8n
spec:
  defaultBackend:
    service:
      name: n8n
      port:
        number: 80
  ingressClassName: tailscale
  tls:
    - hosts:
        - n8n
