apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: renovate

resources:
  - renovate-sealed-secret.yaml
  - ../../base
  - renovate-ingress.yaml

patches:
  - path: renovate-helm-values-patch.yaml
